body {
  max-width: 36rem;
  margin: auto;
}

aside {
  max-width: 24rem;
  text-align: justify;
}

article {
  background-color: rgb(243, 243, 243);
  display: flex;
  padding: 1rem;
}

.navbar a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 1rem 1rem;
  float: left;
}

.navbar img{
  width: 4rem;
  margin-right: 1rem;
}

.navbar a:hover {
  background-color: darkgray;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: gainsboro;
  padding: 1rem;
}

.about p {
  text-align: justify;
  margin: 1rem;
}

.about h1 {
  margin: 2rem;
}

.about h2 {
  margin: 1rem;
}

.about img {
  height: auto;
  object-fit: fill;
}

.doctors {
  width: 33%;
  text-align: center;
  margin: 1rem;
}

.doctors img {
  width: 6rem;
  border-radius: 50%;
}

.pricing li {
  text-align: center;
  list-style-type: none;
  margin: 1rem 0;
}

.price {
  font-size: large;
  font-weight: bold;
}

footer {
  background: gainsboro;
  color: black;
  padding: 0.25rem;
  text-align: center;
}

footer a {
  color: black;
  text-decoration: underline;
}

.socials {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}